# Desafio 2

Gabriel Roger Do Nascimento RM340399

### Obtendo informações importantes acerca do dataset

Vamos utilizar o dataset breast_cancer_data.csv para fazer uma análise exploratória cujo objetivo é responder a alguns questionamentos que surgiram a respeito desse conjunto.

Vamos começar lendo e entendendo nossos dados:

In [1]:
import pandas as pd
import numpy as np

In [2]:
colunas = ['id','clump_thickness','cell_size_uniformity','cell_shape_uniformity','marginal_adhesion','single_ep_cell_size',
          'bare_nuclei','bland_chromatin','normal_nucleoli','mitoses','class','doctor_name']

data = pd.read_csv('bases/breast_cancer_data.csv',names=colunas)
data.head()

,id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,class,doctor_name
0,1000025,5.0,1.0,1,1,2,1,3.0,1.0,1,benign,Dr. Doe
1,1002945,5.0,4.0,4,5,7,10,3.0,2.0,1,benign,Dr. Smith
2,1015425,3.0,1.0,1,1,2,2,3.0,1.0,1,benign,Dr. Lee
3,1016277,6.0,8.0,8,1,3,4,3.0,7.0,1,benign,Dr. Smith
4,1017023,4.0,1.0,1,3,2,1,3.0,1.0,1,benign,Dr. Wong

In [3]:
# TODO: entendimento básico dos dados - preencha as lacunas no código a fim de obter o resultado desejado

# quantas linhas e quantas colunas existem no dataset?
data_shape = data.shape
print('Quantidade de Linhas é', data_shape[0], 'e a quantidade de colunas é', data_shape[1], '\n')

# quais os tipos de dados de cada coluna?
print('tipos de dados: ', data.dtypes,'\n')

# quais as principais estatísticas dos dados numéricos do dataset?
print('principais estatísticas: ', data.describe(), '\n')

Quantidade de Linhas é 699 e a quantidade de colunas é 12

tipos de dados:  id                         int64
clump_thickness          float64
cell_size_uniformity     float64
cell_shape_uniformity      int64
marginal_adhesion          int64
single_ep_cell_size        int64
bare_nuclei               object
bland_chromatin          float64
normal_nucleoli          float64
mitoses                    int64
class                     object
doctor_name               object
dtype: object

principais estatísticas:                   id  clump_thickness  cell_size_uniformity  \
count  6.990000e+02       698.000000            698.000000
mean   1.071704e+06         4.416905              3.137536
std    6.170957e+05         2.817673              3.052575
min    6.163400e+04         1.000000              1.000000
25%    8.706885e+05         2.000000              1.000000
50%    1.171710e+06         4.000000              1.000000
75%    1.238298e+06         6.000000              5.000000
max    1.345435e+07        10.000000             10.000000

       cell_shape_uniformity  marginal_adhesion  single_ep_cell_size  \
count             699.000000         699.000000           699.000000
mean                3.207439           2.793991             3.216023
std                 2.971913           2.843163             2.214300
min                 1.000000           1.000000             1.000000
25%                 1.000000           1.000000             2.000000
50%                 1.000000           1.000000             2.000000
75%                 5.000000           3.500000             4.000000
max                10.000000          10.000000            10.000000

       bland_chromatin  normal_nucleoli     mitoses
count       695.000000       698.000000  699.000000
mean          3.447482         2.868195    1.589413
std           2.441191         3.055647    1.715078
min           1.000000         1.000000    1.000000
25%           2.000000         1.000000    1.000000
50%           3.000000         1.000000    1.000000
75%           5.000000         4.000000    1.000000
max          10.000000        10.000000   10.000000

In [4]:
# TODO: obtendo informações sobre o dataset

# retorne uma Serie que mostre qual a classificação (maligno e benigno) que cada médico deu para cada amostra: 
# Exemplo de retorno
# class      doctor_name
# benign   Dr. Doe        127
#          Dr. Lee        121
#          Dr. Smith      102
#          Dr. Wong       108

# Código:

In [5]:
data[['class', 'doctor_name']].value_counts()

class      doctor_name
benign     Dr. Doe        127
           Dr. Lee        121
           Dr. Wong       108
           Dr. Smith      102
malignant  Dr. Smith       74
           Dr. Lee         60
           Dr. Doe         58
           Dr. Wong        49
dtype: int64

In [6]:
# TODO: obtendo informações sobre o dataset

# Use o método select_dtypes() para selecionar apenas colunas do tipo float64 e int64. Armazene na variável data_num 
# Encontre as n variáveis que possuem um valor absoluto de correlação maior que 0.5 com a variável clump_thickness, excluindo ela mesma 
# retorne os valores de forma decrescente
# sempre utilize a variável data_num para receber o resultado de suas operações

data_num = data.select_dtypes(include=['float64', 'int64'])
data_num = data_num.query('clump_thickness > 0.5')
data_num = data_num['clump_thickness'].sort_values(ascending=False)
print("Existem {} variáveis correlacionadas com clump_thickness:\n{}".format(len(data_num), data_num))

Existem 698 variáveis correlacionadas com clump_thickness:
283    10.0
187    10.0
122    10.0
233    10.0
326    10.0
       ...
375     1.0
371     1.0
369     1.0
368     1.0
277     1.0
Name: clump_thickness, Length: 698, dtype: float64

In [7]:
# Renomeei para type, pois class é reservado e não estava conseguindo acessar o objeto.
data.rename(columns={
    'class': 'type'
}, inplace=True)

cells_size_by_tumor_type = data[['single_ep_cell_size', 'type']].groupby('type').mean()
cells_size_by_tumor_type

           single_ep_cell_size
type
benign                2.120087
malignant             5.298755

In [8]:
max_mitoses_by_wong = data[['type', 'mitoses']].where(data['doctor_name'] == 'Dr. Wong').groupby('type').max()
max_mitoses_by_wong

           mitoses
type
benign         3.0
malignant     10.0

In [9]:
# TODO: obtendo informações sobre o dataset

# qual o tamanho médio das células para cada tipo de tumor?
print('Tamanho médio do tipo benigno: ', round(cells_size_by_tumor_type.iloc[0].values[0], 2),'\n')
print('Tamanho médio do tipo maligno: ', round(cells_size_by_tumor_type.iloc[1].values[0], 2),'\n')

# qual o número máximo de mitoses em tumores benignos encontrados pelo Dr. Wong?
print('Número máximo de mitoses em tumores benignos: ', int(max_mitoses_by_wong.iloc[0].values))

# e qual o número máximo de mitoses em tumores malignos encontrados pelo mesmo médico?
print('\nNúmero máximo de mitoses em tumores malignos: ', int(max_mitoses_by_wong.iloc[1].values))

Tamanho médio do tipo benigno:  2.12

Tamanho médio do tipo maligno:  5.3

Número máximo de mitoses em tumores benignos:  3

Número máximo de mitoses em tumores malignos:  10

In [10]:
# TODO: filtrando os dados

# Existem dois pacientes (id) que aparecem mais que duas vezes no dataset. Retorne uma série ordenada de forma descendente que mostre o
# id do paciente bem como a quantidade de vezes que ele aparece repetido no dataset

grouped_patients = data.groupby('id').size().reset_index()
grouped_patients.rename(columns={
    0: 'quantity'
}, inplace=True)
repeated_patients = grouped_patients[grouped_patients['quantity'] > 2]
repeated_patients.value_counts()

id       quantity
1182404  6           1
1198641  3           1
1276091  5           1
dtype: int64

In [11]:
repeated_patients['id']

351    1182404
392    1198641
534    1276091
Name: id, dtype: int64

In [12]:
data[data.id.isin(repeated_patients['id'])]

,id,clump_thickness,cell_size_uniformity,cell_shape_uniformity,marginal_adhesion,single_ep_cell_size,bare_nuclei,bland_chromatin,normal_nucleoli,mitoses,type,doctor_name
136,1182404,4.0,1.0,1,1,2,1,2.0,1.0,1,benign,Dr. Lee
168,1198641,3.0,1.0,1,1,2,1,3.0,1.0,1,benign,Dr. Lee
241,1276091,3.0,1.0,1,3,1,1,3.0,1.0,1,benign,Dr. Wong
256,1182404,3.0,1.0,1,1,2,1,1.0,1.0,1,benign,Dr. Wong
257,1182404,3.0,1.0,1,1,2,1,2.0,1.0,1,benign,Dr. Doe
258,1198641,3.0,1.0,1,1,2,1,3.0,1.0,1,benign,Dr. Lee
265,1182404,5.0,1.0,4,1,2,1,3.0,2.0,1,benign,Dr. Lee
266,1198641,10.0,10.0,6,3,3,10,4.0,3.0,2,malignant,Dr. Smith
429,1276091,2.0,1.0,1,1,2,1,2.0,1.0,1,benign,Dr. Doe
430,1276091,1.0,3.0,1,1,2,1,2.0,2.0,1,benign,Dr. Wong
431,1276091,5.0,1.0,1,3,4,1,3.0,2.0,1,benign,Dr. Wong
448,1182404,1.0,1.0,1,1,1,1,1.0,1.0,1,benign,Dr. Lee
462,1276091,6.0,1.0,1,3,2,1,1.0,1.0,1,benign,Dr. Lee
497,1182404,4.0,2.0,1,1,2,1,1.0,1.0,1,benign,Dr. Wong

Encontrei 3 pacientes que aparecem mais que duas vezes no dataset.

In [13]:
# Elimine esses dois pacientes do dataframe de modo que este contenha apenas pacientes que apareceram no máximo duas vezes
data.drop(data[data.id.isin(repeated_patients['id'])].index, inplace=True)
data[data.id.isin(repeated_patients['id'])]

Empty DataFrame
Columns: [id, clump_thickness, cell_size_uniformity, cell_shape_uniformity, marginal_adhesion, single_ep_cell_size, bare_nuclei, bland_chromatin, normal_nucleoli, mitoses, type, doctor_name]
Index: []